<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wrq.rotation.mapper.UserMapper">
    <select id="getAllUser" resultType="wrq.rotation.model.po.User">
        select*from rotation_user
    </select>

    <select id="getUserByName" resultType="wrq.rotation.model.po.User">
        select*from rotation_user where username=#{username}
    </select>

    <insert id="insertUser">
        insert into rotation_user values(null,#{username},#{password},#{bio},#{email},#{avatarUrl})
    </insert>

    <select id="getAllUsername" resultType="java.lang.String">
        select username from rotation_user
    </select>
</mapper>