<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wrq.rotation.mapper.UserMapper">
    <select id="queryUser" resultType="wrq.rotation.model.po.User">
        select*from rotation_user where username=#{username}
    </select>

    <select id="queryConcern" resultType="wrq.rotation.model.po.User">
        select*from rotation_user where id in
        <foreach collection="concern" item="i" separator="," open="(" close=")">
            ${i}
        </foreach>
    </select>

    <select id="queryFans" resultType="wrq.rotation.model.po.User">
        select*from rotation_user where id in
        <foreach collection="fans" item="i" separator="," open="(" close=")">
            ${i}
        </foreach>
    </select>
</mapper>